body {
	  text-align: center;
	  background-color: lightblue;
	}

	div {
	  margin-top: 15px;
	}

    
	.image-section {
	/* Correct the display value as flex */
	  display: flx;
	/* Correct the justify-content value as center */	  justify-content: space-center;
	}

	.section-style {
	/* Correct the name of the properties to 
		margin-right and margin-left */
	  marginright: 25px;
	  marginleft: 25px;
	/* Correct the name of the property to
		background-color */
		backColor: white;
	}
h1{
  font-family:cursive;
  
}
h2{
  font-family:cursive;
  font-size:20px;
}
h3{
  font-family:cursive;
  font-size:20px;
   
}
h4{
  font-family:cursive;
  font-size:20px;
}
h5{
  font-family:cursive;
  font-size:20px;
   
}
